*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  /* background-color: #9595e0; */
  /* background-color: rgba(0, 0, 0, 0.778); */
  background-image: url(bae2ec55e944c22a8a3e1e8e2dace6a4.jpg);
  
}

.admin-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #9595e0;  */
  width: 100vw;
  padding: 20px 30px;

}

.nav-links-left .nav-link{
  margin-left: 20px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  /* color: rgb(160, 159, 207); */
  
  
}


.nav-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 50px;

  color: #df6b0c;
}
.nav-links-right{
  display: flex;
}

.nav-links-right .nav-link{
  margin-right: 20px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  /* color: rgb(233, 221, 221); */

  color: #ff922d ;
}




.nav-link.active{
  color: #A86E3B;
}

.nav-link:hover{
  color: #b88a5f;
}
/* Admin.css */

/* Additions for card styling */
.product-container {
 
  /* background-color: hsla(256, 7%, 67%, 0.932); */
  background-color: rgba(0, 0, 0, 0.579);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  

}

  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 30px auto;
    justify-content: center;
  
    
  }
  


.product-item {
  margin: 10px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}



.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s linear ;
}
.product-image:hover,
.product-image:hover{
  transform: scale(1.05);
} 
.product-name {
  color: #df6b0c;
}
.buttons {
  display: flex;
  justify-content: space-between;

  
}
.buttons button {
  margin: 10px 20px;

}

.product-details {
  padding: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  color: #007bff; /* Adjust color */
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}





@media only screen and (max-width: 767px) {
.product-list {
  grid-template-columns: repeat(2,1fr);
}
 
}
@media only screen and (max-width: 519px) {
  .product-list {
    grid-template-columns: 1fr;
  }
   
  }

 
 
 
 
 