.footer {
    /* background-color: #9595e0; */
    padding: 20px 10px;
    width: 100vw;
    color: #ff922d;
}
    
  .footer-content {
    width:100%;
    display: flex;
    justify-content: space-between;
    
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  